---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ "Suggested Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.suggested -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        <a class="post-link" href="{%- if post.pdf -%}{{ post.pdf }}{%- else -%}{{ post.url | relative_url }}{%- endif -%}">
          {{ post.title | escape }}
        </a>
        <p class="post-tag">{% if post.tags.size > 0 %}Tag{% if post.tags.size > 1 %}s{% endif %}: <b>{{ post.tags | sort | join: "</b>, <b>" }}</b>. {% endif %}{% if post.words %}<i>{{ post.words }} words.</i>{% endif %}</p>
        {%- if post.desc -%}
          <p class="post-desc">{{ post.desc }}</p>
        {%- endif -%}
        
                
        {%- if post.image -%}
          <div align="center" class="post-image"> <a href="{%- if post.pdf -%}{{ post.pdf }}{%- else -%}{{ post.url | relative_url }}{%- endif -%}"><img src= "assets/{{post.image}}" height=300px> </a> </div>
        {%- endif -%}
        
        {%- if post.preview -%}
          
          <div class="post-preview"><svg class="quote-icon"><use xlink:href="/assets/minima-social-icons.svg#quote"></use></svg>{{ post.preview }} . . . </div>
          <p align="right"> <a href="{%- if post.pdf -%}{{ post.pdf }}{%- else -%}{{ post.url | relative_url }}{%- endif -%}"> <i> (Continue Reading) </i> </a> </p>
        {%- endif -%}
      </li>
      <hr>
      <br>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

  

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page .list_title | default: "All Posts" }} ({{ site.posts.size }})</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        <a class="post-link" href="{%- if post.pdf -%}{{ post.pdf }}{%- else -%}{{ post.url | relative_url }}{%- endif -%}">
          {{ post.title | escape }}
        </a>
        <p class="post-tag">{% if post.tags.size > 0 %}Tag{% if post.tags.size > 1 %}s{% endif %}: <b>{{ post.tags | sort | join: "</b>, <b>" }}</b>. {% endif %}{% if post.words %}<i>{{ post.words }} words.</i>{% endif %}</p>
        {%- if post.desc -%}
          <p class="post-desc">{{ post.desc }}</p>
        {%- endif -%}
        
                
        {%- if post.image -%}
          <div align="center" class="post-image"> <a href="{%- if post.pdf -%}{{ post.pdf }}{%- else -%}{{ post.url | relative_url }}{%- endif -%}"><img src= "assets/{{post.image}}" height=300px> </a> </div>
        {%- endif -%}
        
        {%- if post.preview -%}
          
          <p class="post-preview"><svg class="quote-icon"><use xlink:href="/assets/minima-social-icons.svg#quote"></use></svg>{{ post.preview }} . . . </p>
          <p align="right"> <a href="{%- if post.pdf -%}{{ post.pdf }}{%- else -%}{{ post.url | relative_url }}{%- endif -%}"> <i> (Continue Reading) </i> </a> </p>
        {%- endif -%}
      </li>
      <hr>
      <br>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
